@import '@styles/variables.scss';

.teamMember {
  width: 250px;
  height: 250px;
  box-shadow: 0 5px 10px -5px black;
  border-radius: 15px;
  background-color: $discord-med-dark;
}

.name {
  font-size: 18px;
}

.username {
  &:before {
    content: '@';
  }
}

.userRole {
  color: $csch-color-dark;
}

.imageContainer {
  height: 140px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  background-color: $discord-darker;
}

.infoContainer {
  padding: 10px 10px 20px 10px;
}
