@import '@styles/variables.scss';

.teamMember {
  width: 250px;
  height: 250px;
  box-shadow: 0 5px 10px -5px black;
  border-radius: 15px;
  background-color: $discord-med-dark;
}

.username {
  font-size: 16px;

  &:before {
    content: '@';
  }
}

.userRole {
  color: $csch-color-dark;
}

.imageContainer {
  height: 160px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  background-color: $discord-darker;

  img {
    margin-top: -30px;
  }
}

.infoContainer {
  padding: 10px 10px 20px 10px;
}
