@import '@styles/variables.scss', '@styles/mixins.scss';

.teamMember {
  @include box-shape;
  width: 250px;
  height: 250px;
  padding: 0;
}

.username {
  font-size: 16px;

  &:before {
    content: '@';
  }
}

.userRole {
  color: $light-red;
}

.seniorMod {
  color: $neon-green;
}

.mod {
  color: $csch-color-dark;
}

.imageContainer {
  height: 140px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  background-color: $discord-darker;

  img {
    margin-top: -50px;
  }
}

.infoContainer {
  padding: 10px 10px 20px 10px;
}

.statusCircle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: $csch-color-dark;
  border-bottom: 3px solid $discord-med-dark;
  border-right: 3px solid $discord-med-dark;
  border-top: 3px solid #32363a;
  border-left: 3px solid #32363a;
  transform: rotate(45deg);
  position: relative;
  top: -67px;
  left: 205px;

  &.inactive {
    background-color: $site-gray;
  }
}
