@import '@styles/reset.scss', '@styles/variables.scss', '@styles/mixins.scss';

html,
body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: $discord-med-dark;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button {
  @include primary-font;
}

p,
li {
  line-height: 1.5;
}

ul {
  list-style: outside;
  margin: 20px 0 20px 17px;
}

ol {
  list-style: decimal;
  margin-left: 17px;
}

a {
  color: $csch-color-dark;
  transition: all 0.1s ease;

  &:hover {
    cursor: pointer;
    color: $csch-color-darker;
  }
}

strong {
  font-weight: 600;
}

code {
  background: $discord-lighter;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 1px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

span.highlightedText {
  color: $csch-color-dark;
}

h2.fancy {
  font-size: 20px;
  color: $csch-color-dark;
  position: relative;

  &:before {
    @include link-animation;
    @include link-hover-animation;
    background-color: $csch-color-dark;
    width: 105%;
    margin-left: -2.5%;
  }
}

.topButton {
  margin-top: 50px;
}

.hide {
  display: none;
}

.highlight {
  background-color: $site-gray;
}
