@import '@styles/reset.scss', '@styles/variables.scss', '@styles/mixins.scss';

html,
body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  color: $general-font-color;
  background-color: $discord-med-dark;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  @include primary-font;
}

p,
a,
li {
  @include primary-font;
}

@media screen and (max-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @include primary-font;
    @include unselectable;
  }
}

p,
li {
  line-height: 1.5;
}

.hide {
  display: none;
}

.highlight {
  background-color: $site-gray;
}

h2.fancy {
  font-size: 20px;
  color: $csch-color-dark;
  position: relative;

  &:before {
    @include link-animation;
    @include link-hover-animation;
    background-color: $csch-color-dark;
    width: 105%;
    margin-left: -2.5%;
  }
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
