@import '@styles/reset.scss', '@styles/variables.scss', '@styles/mixins.scss';

html,
body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: $discord-med-dark;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button {
  @include primary-font;
}

p,
li {
  line-height: 1.5;
}

.hide {
  display: none;
}

.highlight {
  background-color: $site-gray;
}

h2.fancy {
  font-size: 20px;
  color: $csch-color-dark;
  position: relative;

  &:before {
    @include link-animation;
    @include link-hover-animation;
    background-color: $csch-color-dark;
    width: 105%;
    margin-left: -2.5%;
  }
}

code {
  background: $discord-lighter;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 1px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

span.highlightedText {
  color: $csch-color-dark;
}

a {
  color: $csch-color-dark;

  &:hover {
    cursor: pointer;
    color: $csch-color-darker;
  }
}
