@import '@styles/mixins.scss';

.postPageContainer {
  @include container;
  justify-content: flex-start;

  .postPageContent {
    width: 50vw;
    height: 100%;

    @include element-width-by-screen-width-narrower;

    iframe {
      width: 100%;
      @include element-width-by-screen-height-narrower-youtube;
    }

    h1 {
      line-height: 1.25;
    }

    h3 {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
