@import '@styles/mixins.scss';

.serverRulesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 40px 0;

  .serverRulesContent {
    width: 50vw;

    @include element-width-by-screen-width-narrower;

    h1 {
      margin: 2.5rem 0;
    }

    ol {
      list-style: decimal;
      margin-left: 17px;
    }

    p {
      margin: 1rem 0 1rem 0;
    }
  }
}
