@import '@styles/mixins.scss';

.teamPageWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px 0;

  & > div {
    margin: 30px;
  }
}

.teamHeading {
  padding-top: 40px;
}

.teamDescription {
  padding-top: 20px;
  @include element-width-by-screen-width;
}
