@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.testimonialSection {
    @include primary-font;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 60px 10px;
    background-color: $discord-med-dark;
    text-align: left;
}

.testimonialHeading {
    font-size: 40px;
    font-weight: bold;
}

.testimonialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.dark {
    background-color: $discord-darker;
}
