@import '@styles/variables.scss';

.actionButton {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: $csch-color-darker;
  transition: all 0.1s ease;

  &:hover {
    cursor: pointer;
    background-color: $csch-color-darkest;
  }
}
