@import '@styles/variables.scss', '@styles/mixins.scss';

.testimonial {
    @include box-shape;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 390px;
    margin: 20px;
}

.occupation {
    color: #00ff3e;
    font-weight: 500;
}

.quotes {
    font-size: 40px;
    font-family: "Passion One", sans-serif;
}

.endquote {
    text-align: right;
}

.dark {
    background-color: $discord-darker;
}